.clearfix:after{
        content: "";
        clear: both;
        display: block;
        height: 0px;
        visibility: hidden;
}
.clearfix{
    *zoom:1;
}
.ov{
	overflow: hidden;
}
body{
	width: 50%;
	margin: 8px auto;
}
.logo{
	width: 100px;
	height: 100px;
	background-color: tomato;
	float: left;
}
.h_r1{
	width: 20%;
	height: 50px;
	background-color: gray;
	float: right;
}
.h_r2{
	width: 95%;
	height: 50px;
	background-color: #f0f;
	float: right;
}
.bodyy{
	margin-top: 20px;
}
.b_nav{
	width: 10%;
	height: 600px;
	background-color: #0ff;
	float: right;
}
.b_left_content_nav{
	width: 10%;
	height: 530px;
	background-color: pink;
	float: right;
}
.b_left_content_1{
	height: 320px;
	background-color: #ff0;
	margin-right: 20px;
}
.b_left_content_2{
	height: 190px;
	background-color: #ff0;
	margin-top: 20px;
	margin-right: 20px;
}
.b_left_content{
	margin-right: 20px;
}
.b_left_content_foot{
	height: 50px;
	background-color: #f00;
	margin-top: 20px;
	margin-right: 20px;
}
.foot{
	height: 50px;
	background-color: #00f;
	margin-top: 20px;
}